__pycache__/
build/
dist/
*.egg-info/
dataset/
*.swp
*.vscode
*.DS_Store
*.pt
*.so
*trial*
*.ipynb
*.sh
*analyze*
*random.py
*RELEASE_*
*.csv.gz
*.zip
*submission_
*.npz
*.npy
**/convert.py
**/mapping/README.md
**.json
**/checkpoint
**/events.out.*
**/test*
**/pcqm4m-scaf/**
**/logs/**
**/lightning_logs/**